# dist file for InspectionBar
dist /extensions/Qt/Qt.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Qt/master/Qt.dist
dist /extensions/Inspection/Inspection.dist https://raw.githubusercontent.com/OpenEngineDK/extensions-Inspection/master/Inspection.dist

git      /extensions/InspectionWidget            https://github.com/OpenEngineDK/extensions-InspectionWidget.git
git-dev  /extensions/InspectionWidget            git@github.com:OpenEngineDK/extensions-InspectionWidget.git
